body {
  background-image: url("https://wallpapers.com/images/hd/cute-pink-aesthetic-strawberry-desktop-7dsg62ivqfgck1bk.jpg");
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: Arial, sans-serif;
}


.calendar-container {
  background: rgba(248, 175, 248, 0.464);
  padding: 30px;
  border-radius: 50px;
  width: 600px;
  height: 650px;
  box-shadow: 0 0 10px rgba(207, 75, 188, 0.88);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 20px;
}

th, td {
  width: 14.28%;
  text-align: center;
  padding: 10px;
  border: 1px solid #fbccff;
  cursor: pointer;
}

td:hover {
  background-color: #e0f7fa;
}

.selected {
  background-color: #f369be;
  color: rgb(248, 210, 249);
}

.reminder-box textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
}

button {
  padding: 10px 15px;
  background-color: #8a076d;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #c433a4;
}
