body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTMtcC0wMDAxYV8yLWtzaTg2cXlmLmpwZw.jpg");
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 500px;
  width: 100%;
  background: rgba(236, 122, 166, 0.539);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background: #ff008c;
  color: white;
  padding: 12px;
  text-align: left;
  border-radius: 5px 5px 0 0;
}

tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #f972e7;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ef7dcb;
}
